

<!-- Full Page Image Header Area -->
<div id="top" class="header">
  <div class="vert-text">
    <h1>Hacker School México</h1>
    <h3>Aprende a construir software con los <em>mejores</em> hackers del país.</h3>
    <a href="#about" class="btn btn-primary btn-lg">Conoce el programa</a>
  </div>
</div>
<!-- /Full Page Image Header Area -->

<!-- Intro -->
<div id="about" class="intro">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2 text-center">
        <h2>El primer programa intensivo para convertirte en un full-stack web developer.</h2>
        <p class="lead">Entrenamos en 12 semanas a novatos apasionados con las habilidades necesarias para incorporarse
          a los mejores equipos de desarrolladores de software ágil.</p>
      </div>
    </div>
  </div>
</div>
<!-- /Intro -->

<!-- Services -->
<div id="program" class="services call-to-action">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-md-offset-4 text-center">
        <h2>Lo que aprenderás</h2>
        <hr>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2 col-md-offset-2 text-center">
        <div class="service-item">
          <%= fa_icon "html5", class: 'service-icon'%>
          <h4>HTML5 & CSS</h4>
          <p>Domina el markup y los principios de diseño responsivo, mobile-first que hagan tus apps hermosamente funcionales.</p>
        </div>
      </div>
      <div class="col-md-2 text-center">
        <div class="service-item">
          <%= fa_icon "laptop", class: 'service-icon'%>
          <h4>Ruby on Rails</h4>
          <p>Uno de los mejores y más pragmáticos frameworks para construir aplicaciones web.</p>
        </div>
      </div>
      <div class="col-md-2 text-center">
        <div class="service-item">
          <%= fa_icon "github", class: 'service-icon'%>
          <h4>Git & control de versiones</h4>
          <p>Utilizamos Git para controlar las versiones de tu código y para colaborar con otros coders al estilo open source.</p>
        </div>
      </div>
      <div class="col-md-2 text-center">
        <div class="service-item">
          <%= fa_icon "rocket", class: 'service-icon'%>
          <h4>JavaScript</h4>
          <p>Los fundamentos de JavaScript y a darle vida a tus apps desde el browser, usando jQuery y CoffeeScript.</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2 col-md-offset-2 text-center">
        <div class="service-item">
          <%= fa_icon "pencil", class: 'service-icon'%>
          <h4>Test-Driven Development</h4>
          <p>La metodología para diseñar y construir software sólido y mantenible.</p>
        </div>
      </div>
      <div class="col-md-2 text-center">
        <div class="service-item">
          <%= fa_icon "refresh", class: 'service-icon'%>
          <h4>Desarrollo ágil</h4>
          <p>Vamos a crear software de manera flexible, adaptable e iterativa, trabaja en pares y lanza avances mediante releases continuos.</p>
        </div>
      </div>
      <div class="col-md-2 text-center">
        <div class="service-item">
          <%= fa_icon "cogs", class: 'service-icon'%>
          <h4>APIs</h4>
          <p>Aprende a utilizar datos de la web mediante RESTful APIs y abre tus apps al mundo construyendo una para tu app.</p>
        </div>
      </div>
      <div class="col-md-2 text-center">
        <div class="service-item">
          <%= fa_icon "terminal", class: 'service-icon'%>
          <h4>BD, DevOps & más</h4>
          <p>Temas avanzados de bases de datos, deployments y tecnologías web que necesitas probar.</p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /Services -->

<!-- Callout -->
<div class="callout">
  <div class="vert-text">
    <h1>Hacemos esto todos los días, hackeamos.</h1>
  </div>
</div>
<!-- /Callout -->

<!-- Team -->
<div id="team" class="team">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-md-offset-4 text-center">
        <h2>Los senseis</h2>
        <hr>
      </div>
    </div>

    <div class="col-md-10 col-md-offset-1">
      <div class="row people">
        <!-- Sensei -->
        <div class="col-md-6">
          <div class="row">
            <div class="col-md-4">
              <img src="http://www.innku.com/imgs/elias.jpg" class="img-circle img-responsive">
            </div>
            <div class="col-md-8">
              <p class="lead">Elías Matheus</p>
              <p>Basquetbolero de Caracas, Venezuela. Amante del TDD, VIM y todo lo que conlleva crear buen software.</p>
              <a href="https://github.com/e3matheus" target="_blank"><i class="team-icon fa fa-github"></i></a>
              <a href="https://twitter.com/e3matheus" target="_blank"><i class="team-icon fa fa-twitter"></i></a>
            </div>
          </div>
        </div>

        <!-- Sensei -->
        <div class="col-md-6">
          <div class="row">
            <div class="col-md-4">
              <img src="https://s3.amazonaws.com/icalia/kurenn.png" class="img-circle img-responsive">
            </div>
            <div class="col-md-8">
              <p class="lead">Abraham Kuri</p>
              <p>Back end hacker que ha tomado amor por el front end. Creador del framework Furatto. Lead developer en Icalia Labs.</p>
              <a href="https://github.com/kurenn" target="_blank"><i class="team-icon fa fa-github"></i></a>
              <a href="https://twitter.com/kurenn" target="_blank"><i class="team-icon fa fa-twitter"></i></a>
            </div>
          </div>
        </div>
      </div>
      <div class="row people">
        <!-- Sensei -->
        <div class="col-md-6">
          <div class="row">
            <div class="col-md-4">
              <img src="https://si0.twimg.com/profile_images/3472545245/67aa57c30d6bcf6d14d1f6b24d821a26.jpeg" class="img-circle img-responsive">
            </div>
            <div class="col-md-8">
              <p class="lead">Eddie Ruvalcaba</p>
              <p>Hacker que ganó su popularidad en el 2013 ganando tres hackathons cívicos consecutivos en el país.</p>
              <a href="https://github.com/eddie-ruva" target="_blank"><i class="team-icon fa fa-github"></i></a>
              <a href="https://twitter.com/eddie_ruvalcaba" target="_blank"><i class="team-icon fa fa-twitter"></i></a>
            </div>
          </div>
        </div>

        <!-- Sensei -->
        <div class="col-md-6">
          <div class="row">
            <div class="col-md-4">
              <img src="http://www.innku.com/imgs/benito.jpg" class="img-circle img-responsive">
            </div>
            <div class="col-md-8">
              <p class="lead">Benito Serna</p>
              <p>Samurai. Tu enseñará a ser productivo mientras escribes código poético. Lead developer en Innku, Aventones y Rides</p>
              <a href="https://github.com/bhserna" target="_blank"><i class="team-icon fa fa-github"></i></a>
              <a href="https://twitter.com/bhserna" target="_blank"><i class="team-icon fa fa-twitter"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Staff -->
    <div class="row">
      <div class="col-md-4 col-md-offset-4 text-center">
        <h2>El equipo</h2>
        <hr>
      </div>
    </div>

  </div>
</div>
<!-- /Team -->

<!-- Call to Action -->
<div class="call-to-action">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2 text-center">
        <h3>Aplicaciones abiertas hasta el 10 de Diciembre 2013.</h3>
        <%= link_to 'APLICA AHORA', aplicando_path, class:'btn btn-lg btn-default'%>
      </div>
    </div>
  </div>
</div>
<!-- /Call to Action -->

<!-- Map
<div id="contact" class="map">
  <iframe width="100%" height="100%" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=Twitter,+Inc.,+Market+Street,+San+Francisco,+CA&amp;aq=0&amp;oq=twitter&amp;sll=28.659344,-81.187888&amp;sspn=0.128789,0.264187&amp;ie=UTF8&amp;hq=Twitter,+Inc.,+Market+Street,+San+Francisco,+CA&amp;t=m&amp;z=15&amp;iwloc=A&amp;output=embed"></iframe><br /><small><a href="https://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=Twitter,+Inc.,+Market+Street,+San+Francisco,+CA&amp;aq=0&amp;oq=twitter&amp;sll=28.659344,-81.187888&amp;sspn=0.128789,0.264187&amp;ie=UTF8&amp;hq=Twitter,+Inc.,+Market+Street,+San+Francisco,+CA&amp;t=m&amp;z=15&amp;iwloc=A"></a></small></iframe>
    </div>
    /Map -->

    <!-- Custom JavaScript for the Side Menu and Smooth Scrolling - Put in a custom JavaScript file to clean this up -->
    <script>
      $(function() {
        $('a[href*=#]:not([href=#])').click(function() {
          if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'')
            || location.hostname == this.hostname) {

            var target = $(this.hash);
            target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
            if (target.length) {
              $('html,body').animate({
                scrollTop: target.offset().top
              }, 1000);
              return false;
            }
          }
        });
      });
    </script>


